<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Germany Map Project{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />

    <style>
        #map {
            height: 600px;
            width: 100%;
        }

        /* #search-container {
            margin-bottom: 10px;
        }

        #search-input {
            width: 300px;
            padding: 5px;
        }

        #search-button {
            padding: 5px 10px;
        } */
    </style>

    {% block extra_css %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>